*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: #f9f9f9;
}

#lezione > .container{
  text-align: center;
  background-color: #F2F2CD;
}
#steps{
  text-align: center;
  margin-top: 50px;
}
.col-lg-4 img{
  margin-top: 30px;
}
img{
  height: 200px;
}
#why{
  text-align:center;
  margin-top: 50px;
}
#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px

}
#why .container .col-lg-12 > img{
  margin-top: 50px;
}

@media all and (min-width: 0px) and (max-width: 767px) {
  .col-xs-12{
    width: 100%;
    /* width: calc(100% /12 *12); */
  }
}
