*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#lezione > .container{
  text-align: center;
}

.margin-top{
  margin-top: 20px;
}

#steps{
  text-align: center;
  margin-top: 50px;
  background-color: #f9f9f9;
}

.col-lg-4 img{
  margin-top: 30px;
}

img{
  height: 200px;
}

#why{
  text-align:center;
  margin-top: 50px;
  background-color: #f9f9f9;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

#why .container .col-lg-12 > img{
  margin-top: 50px;
}

@media all and (min-width: 0px) and (max-width: 767px) {

  img{
    height: 150px;
  }
  
  #lezione , #why{
    background-color: #F2F2CD;
  }

}
